@tailwind base;
@tailwind components;
@tailwind utilities;

.label > div {
    background: #00000088;
    color: #F3942290;
    padding: 0px;
    border-radius: 50%;
    border: 1.5px solid #F3942290;
    height: 16px;
    width: 16px;
    text-align: center;
    box-shadow: 0px 0px 3px #F3942290;

}

.label > div:hover {
  color: #F39422;
  border-color: #F39422;
}
